{% extends 'base.html'%}

<!-- title block -->
{% block title%} Home {% endblock%}

<!-- content -->
{% block content%} 
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email"  name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input class="form-control" type="text" id="FirstName"  name="FirstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input class="form-control" type="password" id="password1"  name="password1" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="password2">Password (confirm) </label>
        <input class="form-control" type="password" id="password2"  name="password2" placeholder="Confirm password">
    </div>

    <button type="submit" class="btn btn-primary">submit</button>

</form>
{% endblock %}